<?xml version="1.0"?>
<launch>
    <arg name="debug" default="false" />

    <arg name="rvizconfig" default="$(find hydra_demos)/rviz/hydra_demos.rviz" />
    <arg name="use_gui" default="false" />

    <!-- Choose controller manager: fake, simple, or ros_control -->
    <arg name="moveit_controller_manager" default="fake" />

    <!-- send fake joint values if simulating -->
    <group if="$(eval arg('moveit_controller_manager') == 'fake')">
        <!-- We do not have a real robot connected, so publish fake joint states via a joint_state_publisher
             MoveIt's fake controller's joint states are considered via the 'source_list' parameter -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
            <rosparam param="source_list">[mrmf_group/fake_controller_joint_states]</rosparam>
        </node>
        <!-- If desired, a GUI version is available allowing to move the simulated robot around manually
             This corresponds to moving around the real robot without the use of MoveIt. -->
        <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
            <rosparam param="source_list">[mrmf_group/fake_controller_joint_states]</rosparam>
        </node>

        <!-- Given the published joint states, publish tf for the robot links -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
    </group>

    <!-- Launch the mrmf_group node -->
    <include file="$(find hydra_mrmf_config)/launch/mrmf_group.launch">
        <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
        <arg name="debug" value="$(arg debug)" />
    </include>

    <!-- Launch visualization -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(arg rvizconfig)" output="screen">
        <rosparam command="load" file="$(find hydra_moveit_config)/config/kinematics.yaml"/>
    </node>
</launch>